<style>
    @page {
        size: letter landscape;
    }
    
    .certificate {
        width: 2.3in;
        height: 3.55in;
        padding: 0.1in;
        font-family: "Verdana", sans-serif;
        font-size: 6pt;
        text-align: center;
        overflow: hidden;
        float: left;
        border: 1px dotted black;
    }
    
    .award-img {
        margin-top: 0.1in;
        display: block;
        max-height: 1.25in;
        max-width: 2.0in;
        margin-left: auto;
        margin-right: auto;
    }
    
    .recipient, .award, .unit, .date {
        font-size: 150%;
        font-weight: bold;
        margin-top: 0.05in;
    }
    
    .recipient {
        font-size: 250%;
    }
    
    .sig-block {
        margin-top: 0.05in;
    }
    
    .sig-block .sig {
        font-size: 175%;
        font-weight: bold;
        font-family: "Segoe Script", courier;
    }
    
    .sig-block p {
        margin: 0.2em;
    }
    
    
</style> 
{{#if data}} 
{{#grouped_each 8 data}}
<section class="page">
    {{#each this}}
    <section class="certificate">
        {{#if SKU}}
            <img class="award-img" src="http://s7d4.scene7.com/is/image/ScoutStuff/{{SKU}}">
        {{else}}
            <img class="award-img" src="ref/CubScout_4K.gif">
        {{/if}}
        <div class="recipient">{{FirstName}} {{LastName}}</div>
        <div class="in">a Scout Registered to</div>
        <div class="unit">Pack {{PackNumber}}{{#if DenNumber}}, Den {{DenNumber}}{{/if}}</div>
        <div class="earned">earned the</div>
        <div class="award">{{ItemName}}</div>
        <div class="on">on</div>
        <div class="date">{{dateFormat DateEarned format="MMMM Do, YYYY"}}</div>
        <div class="cm sig-block">
            <p class="sig">{{Cubmaster}}</p>
            <p class="title">Cubmaster</p>
        </div>
        <div class="dl sig-block">
            <p class="sig">{{DenLeader}}</p>
            <p class="title">Den Leader</p>
        </div>
    </section>
    {{/each}}
</section>
{{/grouped_each}}
{{else}}
<div class="error">
<h1>Error:</h1>
<p>Could not find element <em>data</em> in data.</p>
</div>
{{/if}}

